@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf');
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

article p {
    display: block;
    text-align: justify;
    padding: 10%;
    font-size: 0.9em;
}

button{
    position: relative;
    width: 80%;
    left: 10%;
    bottom: 10px;
    background-color: #00669F;
    color: #ffffff;
    padding: 6%;
    border: 0px;
    font-size: 1.1em;
    font-weight: 500;
}

#cards {
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 2rem;
    background-color: #F3F3F3;
}

/* Jugando con formularios */
#login { display: flexbox; flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative; left: 36rem;}

#entrar {background-color: #1CD1B0; color: black;
border-radius: 20px; width: 15%; border-color: white;}

#registrar {background-color: #1CD1B0; color: black;
    border-radius: 20px; width: 8%; border-color: white;}

#reset {background-color: #888888; color: blanchedalmond;
    border-radius: 20px; width: 8%; border-color: white;}

#textarea {width: 15%; height: auto;}

#enter {font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 0.8rem; color: #00669F;} 
label span {color: black;}

/* Fin del juego de formularios */

/* This styles will apply to larger screens */
@media only screen and (min-width : 600px) {
    .card {
        margin: 0 1rem;
        height: auto;
        width: 30%;
    }
    
    #cards {
        flex-direction: row;
    }
}

.content {
    position: relative;
}

.corazon {
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    width: 10%;
    height: auto;
}
.fondo {
    width: 100%;    
}

.perfil {
    position: relative;
    left: 30%;
    top: -4em;
    border-radius: 50%;
    width: 40%;
    box-shadow: 0px 10px 7px;
}

#hero {
    background-color: #00669F;
    padding: 1%;
    width: 100%;
    border-width: 1px;
    box-shadow: 0px 10px 7px rgb(0,0,0,0.3);
}

#topheader {
    background-color: #1CD1B0;
    width: 100%;
    padding:  1%;
}

footer {
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
}

#copyright {
    padding: 1%;
}




